.tableContainer {
  border-radius: 10px;
  margin: 0px 10px;
}

.datatable {
  height: 600px;
  padding: 10px 0px;
}

.tableContainer {
  margin: 10px 20px;
}

.adminCheckOutButton {
  padding: 4px 5px;
  border-radius: 5px;
  color: darkblue;
  background-color: #b4bbff;
  cursor: pointer;
}
.adminCheckOutButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgb(199, 199, 199);
  cursor: pointer;
}

.adminCheckOutButton:disabled,
.adminCheckOutButton[disabled] {
  padding: 4px 5px;
  border-radius: 5px;
  color: rgb(43, 43, 48);
  background-color: #b4bbff;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  margin-left:0;
}

.sidebar a.active {
  background-color: #793ac0;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
